*{
  box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #eeeeee;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}


/* headerの部分 */
header {
  margin: 0 auto;
  padding: 1.5vh 1.5vw;
  display: flex;
  justify-content: space-between;
}

.header-title a {
  font-size: 7rem;
  width: 30%;
  color: #234d67;
}

/* navigationの部分 */
.navigation {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a{
  display: block;
  font-size: 4rem;
  color: #364d5c;
  transition: all .3s;
  padding: 1.5rem;
}

.navigation a:hover{
  color: #eeeeee;
  background: #234d67;
}
/* top-screenの部分 */
.top-screen {
  margin: 0 auto;
  padding-top: 10vh;
}

.content_1 {
  display: flex;
  justify-content: space-between;
}

.lines_1{
  width: 30%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.lines_1 span:nth-child(1){
  border-left: 2rem solid #deb298;
  height:60vh ;
}
.lines_1 span:nth-child(2){
  border-left: 2rem solid #deb298;
  height:45vh ;
}
.lines_1 span:nth-child(3){
  border-left: 2rem solid #deb298;
  height:30vh ;
}


.content_1-right {
  width: 70%;
  height: 70vh;
  background-color: #234d67;
  color: #eeeeee;
  font-size:8rem;
  display: flex;
  flex-direction: column;
}

.content_1-right h2:nth-child(1){
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 3vw;
}
.content_1-right h2:nth-child(2){
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 3vw;
}

/* roads_1のところ */
.roads_1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 30rem;
}

.roads_1 span:nth-child(1){
  width:45%;
}
.roads_1 span:nth-child(2){
  width: 10%;
  border-top: 1rem solid #deb298;
  position: relative;
}
.roads_1 span:nth-child(2)::before{
  content: "";
  position: absolute;
  top:0;
  left: 50%;
  width: 1rem;
  height: 20rem;
  background-color: #234d67;
}
.roads_1 span:nth-child(3){
  width:45%;
}

/* introductionのところ */
.introduction{
  margin: 0 auto;
}

.content_2{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content_2-top{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.content_2-bottom{
  display: flex;
  justify-content: space-around;
}

.intro-title{
  font-size: 6rem;
  color: #eeeeee;
  text-align: center;

  background-color: #234d67;
  border-radius: 50%;
  width: 35rem;
  height: 35rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lines_2 {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.lines_2 span:nth-child(1){
  display: block;
  border-top: 2rem solid #deb298;
  width: 45vw;
}
.lines_2 span:nth-child(2){
  display: block;
  border-top: 2rem solid #deb298;
  width: 30vw;
  margin: 10vh 0;
}
.lines_2 span:nth-child(3){
  display: block;
  border-top: 2rem solid #deb298;
  width: 15vw;
}

.my-image {
  border: 1rem solid #234d67;
  border-radius: 50%;
  width: 20%;
  height: 80%;
}

.intro-content{
  border:1rem solid #eeeeee;
  background-color: #234d67;
  color: #eeeeee;
  padding: 5rem;
  width: 70%;
}

.my-name{
  font-size: 5rem;
  padding-bottom: 3rem;
}

.skills, .languages, .hobbies{
  font-size: 3rem;
  padding: 1.5rem 0;
}

.roads_2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.roads_2 span:nth-child(1){
  width:45%;
}
.roads_2 span:nth-child(2){
  width: 10%;
  border-top: 1rem solid #deb298;
  position: relative;
}
.roads_2 span:nth-child(2)::before{
  content: "";
  position: absolute;
  top:-15vh;
  left:50%;
  width: 1rem;
  height: 20rem;
  background-color: #234d67;
}
.roads_2 span:nth-child(3){
  width:45%;
}

/* Workのセクション */

.content_3 {
  width: 100%;
}

.work-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30vh;
}

.lines_3{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.lines_3 span:nth-child(1){
  display: block;
  border-right: 2rem solid #deb298;
  height: 15vh;
}           
.lines_3 span:nth-child(2){
  display: block;
  border-right: 2rem solid #deb298;
  height: 30vh;
}           
.lines_3 span:nth-child(3){
  display: block;
  border-right: 2rem solid #deb298;
  height: 45vh;
}           

.work-triangle {
  width:60%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.work-triangle::before{
  content: "";
  position: absolute;
  top: 0% ;
  left: 30%;
  z-index: 5;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25rem 43.5rem 25rem;
  border-color: transparent transparent #234d67 transparent;
}

.work-triangle::after{
  content: "Work";
  display: block;
  position: absolute;
  top: 70%;
  left: 52.5%;
  z-index: 5;
  color: #eeeeee;
  font-size: 7rem;
}

.work-links{
  display: flex;
  justify-content: center;
  width: 100%;
}

.work-link{
  margin: 0 auto;
}

.work-link a{
  display: block;
  width: 25rem;
  height: 25rem;
  border: 0.5rem solid #234d67;
  position: relative;
}

.work-link a::before {
  content: "";
  background-color: rgba(35, 77, 103, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;

  transition: all .7s;
}

.work-link a:hover::before {
  background-color: transparent;
  transform-origin: 50% 50%;
  transform: scale(0);
}


.work-link img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.work-link p{
  line-height: 5rem;
  text-align: center;
  color:#234d67;
  font-size: 2rem;
}

.roads_3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;
  margin-bottom: 15rem;
}

.roads_3 span:nth-child(1){
  width:45%;
}
.roads_3 span:nth-child(2){
  width: 10%;
  border-bottom: 1rem solid #deb298;
  position: relative;
}
.roads_3 span:nth-child(2)::before{
  content: "";
  position: absolute;
  bottom: 0;
  left:50%;
  width: 1rem;
  height: 20rem;
  background-color: #234d67;
}
.roads_3 span:nth-child(3){
  width:45%;
}

/*  Contact */
.bar {
  border-bottom: 3rem solid #234d67;
  width: 90%;
  margin: 0 auto;
}

.content_4 {
  padding: 3rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
}

.content_4-left{
  width: 70%;
  padding-left: 5rem;
  margin-bottom: 10vh;
}

.contact-title {
  font-size: 8rem;
  color: #234d67;
  line-height: 10rem;
}
.email-address, .email-address a{
  font-size: 4rem;
  color: #234d67;
  text-decoration: none;
  line-height: 20rem;
}

.email-address :hover{
  border-bottom: 1rem solid #deb298;
}

.sns-links_2 {
  display: flex;
  justify-content: flex-end;
}


.sns-link_2-item {
  display: flex;
  align-items: center;
}

.sns-link_2-item :hover{
  color: #eeeeee;
  background-color: #234d67;
  border-radius: 10%;
}

.sns-link_2-item a {
  display: block;
}

.sns-link_2-item span{
  display: block;
  color: #234d67;
  padding: 1rem;
}




.lines_4{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 20%;
}

.lines_4 span:nth-child(1){
  border-left: 2rem solid #deb298;
  height:45vh ;
}
.lines_4 span:nth-child(2){
  border-left: 2rem solid #deb298;
  height:30vh ;
}

.lines_4 span:nth-child(3){
  border-left: 2rem solid #deb298;
  height:15vh ;
}

/* footer */
footer {
  width: 100%;
  height: 10vh;
  background-color: #234d67;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #eeeeee;
  font-size: 1.5rem;
}
